:root {
  --main-cyan: #19c8fa;
  --transparent-cyan: rgb(15 116 143 / 70%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /* font-weight: <weight>; */
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*let phones as they are*/
/*small*/
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

/*large*/
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

/*header*/
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  /*we want the header not to be sticky*/
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent !important;
  position: relative;
  min-height: 97px;
  /*so that i could increase the padding of the links without any limitations*/
}

header .container::after {
  content: "";
  position: absolute;
  background-color: #ccc;
  bottom: 0;
  left: 0;
  height: 1px;
  width: calc(100% - 30px);

}

header nav {
  flex: 1;
  /* to take the full width available*/
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

nav ul {
  display: flex;
  justify-content: center;
}


header nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
nav li a.active,
nav li a:hover {
  color: var(--main-cyan);
  border-bottom: 1px solid var(--main-cyan);
  position: relative;
  z-index: 2;
}

nav li a,
.fas {
  color: white;
  text-decoration: none;
}

header .form {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  border-left: 1px solid white;
  position: relative;
  bottom: 0;
}

header .form i {
  /* padding: 10px; instead of padding we added right*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

@media (max-width:767px) {
  header ul {
    display: none;
  }
}

@media (min-width:768px) {
  header .toggle {
    display: none;
  }
}

header nav .toggle:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #2a2a2a;
}

header nav .toggle:hover ul {
  padding: 15px;
}

/*end of header*/

/*landing*/
.landing {
  height: 100vh;
  background-image: url(./images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 20px;
  color: white;
  background-color: var(--transparent-cyan);
  display: flex;
  justify-content: end;

}

@media (max-width:767px) {
  .landing .text {
    width: 100%;
  }

  .landing .change-bg {
    display: none;
  }

}

.landing .text .content {
  max-width: 500px;
}

.landing .text h2 {
  font-size: 30px;
  line-height: 50px;
}

.landing .text p {
  font-size: 13px;
  line-height: 2;
}

.landing .change-bg {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
}

.landing .fa-angle-left {
  left: 30px;
}

.landing .fa-angle-right {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.landing .bullets ul {
  display: flex;
}

.landing .bullets li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  margin-right: 10px;
}

.landing li.active {
  background-color: var(--main-cyan);
}

/*end of landing*/

/*services*/
@media (min-width:768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 60px;
    column-gap: 40px;
  }
}

@media (max-width:767px) {
  .services .srv-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
  }

  .services .srv-card i {
    margin: 0 0 20px;
  }
}

.services .srv-card {
  display: flex;

}

.services .srv-card i {
  font-size: 30px;
  margin-right: 20px;

}

.services .srv-card h3 {
  margin-bottom: 20px;
  color: var(--main-cyan);
}

.services .srv-card p {}

/*end of services*/
/*design sec*/
.design {
  height: 600px;
  background: url(./images/design-features.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.design::before {
  content: "";
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.design img {
  position: absolute;
  bottom: -100px;
  left: 10%;
}

@media (max-width:767px) {
  .design img {
    display: none;
  }

  .design .text {
    width: 100% !important;
    text-align: center;
  }
}

.design .text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 40px;
  color: white;
  background-color: var(--transparent-cyan);

}

.design .text h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.design .text li {
  display: flex;
  padding: 15px 0;
}

.design .text li::before {
  content: "\f390";
  font-family: "fontawesome";
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.design .text i {
  font-size: 15px;
  margin-right: 10px;
}

/*end of design sec*/

/*portflio*/
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}

.portfolio .shuffle li.active {
  color: white;
  background-color: var(--main-cyan);
}

.portfolio .shuffle li {
  padding: 10px;
}

.portfolio .imgs-container {
  margin: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.portfolio .card {
  position: relative;
  overflow: hidden;
}

@media (min-width:768px) {
  .portfolio .imgs-container .card {
    flex-basis: 50%;
  }
}

@media (min-width:1199px) {
  .portfolio .imgs-container .card {
    flex-basis: 25%;
  }
}

.portfolio .imgs-container .card img {
  max-width: 100%;
  transition: 0.3s;
}

.portfolio .imgs-container img:hover {
  transform: rotate(3deg) scale(1.1);
}

.portfolio .imgs-container .imge {
  overflow: hidden;
}

.portfolio .imgs-container .caption {
  position: absolute;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 20px;
  left: 0;
  bottom: -100%;
  transition: .3s;
}

.portfolio .imgs-container .card:hover .caption {
  bottom: 0;
}

.portfolio .imgs-container img:hover .caption h2 {
  margin-bottom: 10px;
}

.portfolio .imgs-container .card .caption p {
  color: var(--main-cyan);
}

.portfolio .btn {
  text-align: center;
}

.portfolio a {
  text-decoration: none;
  background-color: var(--main-cyan);
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

/*end of portflio*/

/*video section*/
.video {
  position: relative;
}

.video::after {
  content: "";
  background-color: rgb(0 0 0 / 50%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width:767px) {

  .video .text {
    padding: 5%;
  }

  .video .text p {
    margin-bottom: 15px !important;
  }

  .video .text h2 {
    margin-bottom: 5px !important;
    font-size: 20px;
  }


}

.video video {
  width: 100%;
}

.video .text {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 40px;
  color: white;
  background-color: var(--transparent-cyan);
  text-align: center;
}

.video .text h2 {
  margin-bottom: 20px;
}

.video .text p {
  margin-bottom: 30px;
}

.video .text a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: black;
}

/*end of video section*/

/*about sec*/
.about {
  padding-top: 100px;
  overflow: hidden;
  position: relative;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  /*to remove the space */
  max-width: 100%;
}

@media (max-width:767px) {

  .about img {
    bottom: -57px;
    margin-top: -57px;
    /*to remove the space */

  }
}

/*end of about sec*/

/*stats*/
.stats {
  background: url("./images/stats.png");
  background-size: cover;
  position: relative;
}

.stats::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
  background-color: var(--transparent-cyan);
  position: relative;
  z-index: 2;
  padding: 40px;
  color: white;
}

.stats .container .card i {
  font-size: 20px;
  background-color: black;
  border: 10px solid black;
  border-radius: 50%;
  margin-bottom: 10px;
}

.stats .container .card h3 {
  font-size: 50px;
  margin-bottom: 10px;
}

.stats .container .card p {
  font-size: 14px;
}
/*end of stats*/

/*skills*/

.skills .container{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap ;
}
@media (min-width:992px) {
  .skills .container > div{ /*for direct childs (test+skills)*/
    flex-basis: 45%;
  }
}
/*we could do this also .skills .container > div > h3 */
.skills .testimonials .text h3,
.skills .our-skills h3{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: normal;
}
.skills .testimonials .text p,
.skills .our-skills p{
  text-align: center;
  line-height: 2;
  font-size: 15px;
  color: #777;
  font-weight: normal;
}
.skills .testimonials .box{
  display: flex;
  margin-top: 40px;
}
@media (max-width:767px) {
  .skills .testimonials .box{
    flex-direction: column;
    text-align: center;
  }
  .skills .testimonials .box img{
    margin: 0 auto !important;
  }
  .skills .testimonials .box h6{
    justify-content: center !important  ;
    margin-top: 10px;
  }
}
.skills .testimonials .box img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
  position: relative ;
  top: -10px;
}
.skills .testimonials .box .text{
  border-bottom: 1px solid #777;
}
.skills .testimonials .box p{
  color: black;
}
.skills .testimonials .box h6{
  display: flex;
  justify-content: flex-end;
  color: #777;
  margin-bottom: 10px;
}
.skills .bullets {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.skills  ul {
  display: flex;
}
.skills li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #777;
  color: white;
  margin-right: 10px;
}
.skills li.active {
  background-color: var(--main-cyan);
}
.skills .our-skills .text{
  margin-bottom:30px ;
}
.skills .our-skills .prog{
  margin-bottom: 50px;
}
.skills .our-skills .prog h4{
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.skills .our-skills .prog .prog-bar{
  background-color:  #dbdbdb;
  height: 30px;
}
.skills .our-skills .prog .prog-bar span{
  display: block;
  background-color: var(--main-cyan);
  height: 100%;
  position: relative;
}
.skills .our-skills .prog .prog-bar span::before{
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  padding: 3px;
  border-radius: 5px;
  right: -17px;
  top: -40px;
}
.skills .our-skills .prog .prog-bar span::after{
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: black transparent transparent transparent;
  right: -8px;
  top: -15px; 
}
/*end of skills*/

/*quote*/
.quote{
  background: url(./images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote q::after,.quote q::before{
  content: "\f10d";
  font-family: "FontAwesome";
  font-size: 20px;
  margin-right: 7px;
}
.quote .container{
  position: relative;
  z-index: 2;
}
.quote q{
  font-size: 30px;
}
.quote h4{
  margin-top: 10px;
}
/*end of quote*/

/*pricing*/
.pricing{
  text-align: center;
}
.pricing .plans{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan{
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .head{
  padding: 40px 20px;
  border-top: 1px solid var(--main-cyan);
  border-bottom: 1px solid var(--main-cyan);
}
.pricing .plans .head h4{
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}
.pricing .plans .head span{
  font-size: 40px;
  font-weight: bold;
}
.pricing .plans .head span::before{
  content: "$";
  position: relative;
  font-size: 20px;
  top: -18px;
  right: 5px;
}
.pricing .plans .head span::after{
  content: "/Mo";
  position: relative;
  font-size: 20px;
  left: 5px;
}
.pricing .plans ul{
  padding: 10px;
  border-bottom: 1px solid var(--main-cyan);
}
.pricing .plans ul li{
  padding: 15px;
  position: relative;
}
.pricing .plans ul li:not(:last-child):after{
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  background-color: var(--main-cyan);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

}
.pricing .plans .foot{
  padding: 30px;
  margin: 30px 20px;
}
.pricing .plans .foot a{
  text-decoration: none;
  color: blue;
  border: 1px solid var(--main-cyan);
  padding: 20px;
}
.pricing .contact-text{
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 30px;
}
.pricing .contact-btn{
  padding: 15px 30px;
  background-color: var(--main-cyan);
  color: white;
  text-decoration: none;
}
/*end of pricing*/

/*subsbcribe*/
.subscribe{
  background:url(./images/subscribe.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
}
.subscribe::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.subscribe .container{
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
@media (max-width:991px){
  .subscribe .container{
    flex-direction: column;
  }
  .subscribe .container p{
    margin: 30px 0 0;
  }
  .subscribe .container .form{
    margin: 0 auto !important;
  }
}
.subscribe .container .form{
  display: flex;
  position: relative;
  max-width: 100%;
}
.subscribe .container .form i{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe .container .form input[type="email"]{
  border: 1px solid white;
  background: none;
  padding: 20px 20px 20px 60px;
  border-right: none;
  caret-color: var(--main-cyan);
}
.subscribe .container .form input[type="email"]::placeholder{
  color: white;
  font-size: 15px;
}
.subscribe .container .form input[type="email"]:focus{
  outline: none;
}
.subscribe .container .form input[type="submit"]{
  background-color: var(--main-cyan);
  color: white;
  padding: 20px 30px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.subscribe .container p{
  color: white;
  line-height: 2;
}
/*end of subsbcribe*/

/*contact*/
.contact{

}
.contact .content{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px){
  .contact .content{
    text-align: center;
    flex-direction: column;
  }
  .contact .content .info{
    order: -1;
    margin-bottom: 20px;
  }
  .contact .content input[type="submit"]{
    margin: 0 auto;
  }
}
.contact .content .form{
  flex-basis: 70%;
}
.contact .content .form .main-input{
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content .form .main-input:focus{
  outline: none;
}
.contact .content .form textarea{
  height: 200px;
}
.contact .content .form input[type="submit"]{
  border: none;
  background-color: var(--main-cyan);
  padding: 20px;
  color: white;
  text-transform: uppercase;
  display: flex;
  margin-left: auto;
}
.contact .content .info{
  flex-basis: 25%;
}
.contact .content .info h4{
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.contact .content .info .phone{
  display: block;
  color: #777;
}
.contact .content .info h4:nth-of-type(2){
  margin-top: 87px;
}
.contact .content .info address{
  line-height: 2;
  color: #777;
}
/*end of contact*/

/*footer*/ 
footer{
  background: url(./images/subscribe.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  color: white;
}
footer::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
footer .container{
  position: relative;
  z-index: 10
}
.padding50{
  padding: 50px 0;
}
footer .container p{
  margin: 40px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
footer .container p::after{
  content: "";
  position: absolute;
  width: 200px;
  height: 2px;
  background-color: white;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
footer ul{
  display: flex;
  justify-content: center;
}
footer ul li{
  padding: 20px;
}
footer .copy-text{
  font-size: 18px;
  margin-top: 25px;
}
footer .copy-text .special-word{
  color: var(--main-cyan);
}
/*end of footer*/ 










/*public things ^_^*/
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 70px;
  position: relative;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: #2a2a2a;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
}

.main-heading h2::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
}

.main-heading p {
  font-size: 13px;
  line-height: 25px;
  color: #a8a8a8;
  font-weight: 300;
  width: 500px;
  max-width: 100%;
  margin: 0 auto 100px;
}

.padding100 {
  padding: 100px 0;
}

/*end of public things ^_^*/